anthropic==0.86.0
deepeval==3.9.2
faiss-cpu==1.13.2
fastapi==0.135.1
httpx==0.28.1
kafka-python==2.3.0
langfuse==4.0.1
mlflow==3.10.1
mlflow-skinny==3.10.1
mlflow-tracing==3.10.1
numpy==2.4.3
prometheus_client==0.24.1
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
python-dotenv==1.2.2
scikit-learn==1.8.0
streamlit==1.55.0
uvicorn==0.41.0
xgboost==3.2.0
